.new_job_main {
  padding: 0px 25px 0px 25px;
}

.new_job_main_banner {
  justify-content: space-between;
  align-items: center;
}

.align_item {
  align-items: center;
}

.new_job_customer_box {
  width: 275.5px;
  height: 197px;
  background-color: white;
  box-shadow: 0px 0px 14px black;
  border-radius: 4px;
  padding: 0px 5px 0px 5px;
  margin-bottom: 40px;
}

.new_job_customer_container {
  border-bottom: 1px solid lightgray;
}

.new_job_search_box input {
  border: none;
  background-color: transparent;
}
.new_job_search_box input:focus {
  outline-width: 0;
}

.new_job_search_box {
  background-color: lightgrey;
  width: 240px;
  border-radius: 4px;
  margin: 15px 0px 15px 0px;
}

.new_job__new_customer button {
  border: none;
  background-color: transparent;
  text-transform: uppercase;
  color: #0f77cc;
}

.new_job_schedule_box {
  background-color: white;
  box-shadow: 0px 0px 14px black;
  width: 275.5px;
  height: 170px;
  padding: 0px 5px 0px 5px;
  border-radius: 4px;
}

.new_job_schedule_container {
  border-bottom: 1px solid lightgray;
}

.new_job_right_input_date {
  width: 112px;
  height: 30px;
  margin: 0px 20px 0px 10px;
  background-color: lightgrey;
  border: none;
  border-radius: 4px;
}

.new_job_left_input_time {
  width: 70px;
  height: 30px;
  background-color: lightgrey;
  border: none;
  border-radius: 4px;
}

.new_job_right_input_date:focus,
.new_job_left_input_time:focus {
  outline-width: 0;
}

.new_job_customer_search_results {
  position: absolute;
  background-color: white;
  margin-top: 30px;
  width: 220px;
  box-shadow: 0px 0px 2px black;
}

.new_job_customer_search_results div {
  border-bottom: 1px solid lightgrey;
}

.new_job_customer_search_results div:hover {
  background-color: lightgrey;
}

.nj_selected_box {
  height: 387px;
}

.nj_service_box {
  background-color: white;
  box-shadow: 0px 0px 14px black;
  margin-left: 25px;
  border-radius: 4px;
  width: 975px;
  height: 690px;
  padding: 0px 15px 0px 15px;
}

.nj_service_box_title {
  justify-content: space-between;
}

.nj_add_service {
  text-transform: uppercase;
  color: #0f77cc;
}

.nj_title_category_container {
  width: 100%;
  flex-wrap: wrap;
  height: 450px;
  overflow-y: scroll;
}

.nj_title_category {
  width: 150px;
  height: 35px;
  margin: 5px 10px 5px 10px;
  box-shadow: 0px 0px 2px black;
  justify-content: center;
  align-items: center;
}

.nj_title_service_container {
  width: 100%;
  height: 450px;
  overflow-y: scroll;
}

.nj_service_tiles {
  width: 100%;
  border-bottom: 1px solid;
  justify-content: space-between;
}

.nj_service_tiles:hover {
  background-color: rgba(33, 150, 243, 0.08);
}

.nj_add_button {
  width: 95px;
  height: 36px;
  background-color: #0f77cc;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-right: 20px;
}
.nj_remove_button {
  width: 95px;
  height: 36px;
  background-color: red;
  color: #fff;
  border-radius: 4px;
  border: none;
  margin-right: 20px;
}
.nj_back_arrow_div {
  margin-right: 10px;
}

.nj_back_arrow_div:active {
  background-color: lightgray;
  border-radius: 50%;
}

.nj_outer_service_tile {
  width: 100%;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
}
