.customer_main_container {
  padding: 0px 25px 0px 25px;
}

.title_container {
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.8px solid lightgrey;
}

.main_input_container {
  align-items: center;
  background-color: lightgrey;
  border-radius: 4px;
}
.filter_input {
  width: 150px;
  height: 25px;
  background-color: transparent;
  border: none;
}

.filter_input:focus {
  outline-width: 0;
}

.title_right_side_conatiner div {
  margin: 0px 10px 0px 10px;
}

.default_container {
  align-items: center;
  height: 50px;
  border-bottom: 1.5px solid lightgrey;
}

.default_container h2,
.default_container p {
  margin: 0px 10px 0px 100px;
}

.mulit_inner_container div {
  align-items: center;
}

.mulit_inner_container div input {
  margin-right: 25px;
}

.mulit_inner_container div p {
  margin-right: 100px;
}

.default_container_hover:hover {
  background-color: lightgrey;
}

.contact_info_container {
  border-bottom: 1.5px solid lightgrey;
  padding-bottom: 50px;
}

.add_customer_modal {
  width: 1100px;
}

.add_customer_input_container input {
  margin: 15px 55px 15px 0px;
  height: 35px;
  width: 175px;
}

.longer_input_add_space {
  justify-content: space-between;
}
#longer_input_add {
  width: 414px;
}
