.landing_page {
  padding: 22px 0px 0px 25px;
}

.middle_group_landing_page {
  padding-left: 100px;
}

.images_landing_page {
  width: 600px;
  height: 625px;
  border-radius: 15px 0 0 15px;
}

.main_header_landing_page {
  font-size: 86px;
}

.secound_button_group_landing_page {
  gap: 15px;
  margin-top: 15px;
}

.nav_bar_landing_page {
  padding-right: 25px;
}
