/* TODO Add site wide styles */
:root {
  --users-color: #00314a;
  --hover-color: #2764ba;
  --body-color: #e0e0e0;
  --box-color: white;
}

body {
  margin: 0px;
  width: 100%;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-color: var(--body-color); */
}

button {
  border: none;
  background-color: #2764ba;
  color: white;
  margin: 0px 15px 0px 15px;
  border-radius: 4px;
  height: 25px;
}

.flex_row {
  display: flex;
}

.flex_column {
  display: flex;
  flex-direction: column;
}

.modal_container {
  width: 745px;
  height: 680px;
  padding: 0px 25px 0px 25px;
}

.link {
  color: #2764ba;
}

th,
td {
  padding-top: 5px;
  padding-bottom: 10px;
  padding-left: 50px;
  padding-right: 50px;
}
