#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content {
  position: absolute;
  background-color: white;
  /* border: 5px solid black; */
  border-radius: 5%;
}

#modal-x {
  /* position: relative; */
  /* top: -92px;
  left: 920px; */
  color: white;
  z-index: 30;
}

#modal-x:hover {
  color: #f50;
}

.form-container-model {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 500px;
  height: 305px;
  justify-content: center;
  align-items: center;
}

.form-input-model {
  display: flex;
  justify-content: space-between;
}

.errorhandlertext {
  width: 214px;
  height: 50px;
  overflow-y: scroll;
}
